body {
    margin: 0px;
    padding: 0px;
    background: 
        linear-gradient(to right, rgba(15, 32, 39, 0.8), rgba(15, 32, 39, 0.6)),
        linear-gradient(to right, rgba(32, 58, 67, 0.8), rgba(32, 58, 67, 0.6)),
        linear-gradient(to right, rgba(44, 83, 100, 0.8), rgba(44, 83, 100, 0.6));
    background-size: 300% 100%;
    animation: gradientAnimation 10s linear infinite;
}
.one{
    margin-left: 50px;
    margin-right: 50px;
}
label {
    color: white;
}

@media only screen and (max-width: 768px) {
    .nav-item{
        display: none;
    }
  }
  

.container {
    margin: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

